apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
configMapGenerator:
- name: color-config
  literals:
  - COLOR1=orange
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 10
    target:
      group: apps
      version: v1
      kind: Deployment
      name: color
#   - patch: |-
#       - op: replace
#         path: /spec/rules/0/host
#         value: demo1-dev.sa.cf-cd.com
#     target:
#       group: networking.k8s.io
#       version: v1
#       kind: Ingress
#       name: color
images:
  - name: quay.io/tedspinks/color
    newTag: blue
